@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f9;
  }

  html::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  html::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f0f0f9;
  }

  html::-webkit-scrollbar-thumb {
    background: #8e939f;
    border-radius: 100vh;
  }

  html::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  /* Remove arrows from inputs type number */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* overwrite default browser autocomplete styles */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: #000;
    /* -webkit-box-shadow: 0 0 0px 1000px #1b1b6c inset; */
    background-color: #fff;
    transition: background-color 5000s ease-in-out 0s;
  }
}
